*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    color: #252B2D;
}

img{
    max-width: 100%;
}

.description{
    font-family: 'Libre Baskerville', sans-serif;
    margin: 0 1rem 1rem;
    text-align: center;
}

.btn{
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    width: 225px;
    text-align: center;
    font-size: 19px;
    padding: 0.6rem 0;
    text-transform: uppercase;
    font-weight: 900;
}
.btn-primary{
    color: #fff;
    background: #16A1DC;
}

.btn-secondary{
    background: #fff;
    color: #16A1DC;
    border: solid 2px #16A1DC;
}

p.desc, span.desc{
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

p.desc.medium, span.desc.medium{
    font-weight: 500;
}

p.desc.bold, span.desc.bold{
    font-weight: 900;
}

p.tit{
    font-family: 'Caladea', sans-serif;
    font-weight: bold;
    color: #16A1DC;
    font-size: 20px;
    margin-bottom: 0.5rem;
}

.background-cyan-light{
    background: #EBF7FE;
    padding: 1rem 0;
}


header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img-logo{
        width: 60vw;
        max-width: 368px;
        margin: 1.5rem 0;
    }
    h1{
        font-family: Caladea, sans-serif;
        color: #252B2D;
        text-align: center;
        margin: 1.2rem;
        margin-top: 0;
    }
    .description{
        margin: 0 1rem 1rem;
        text-align: center;
    }
    .container-btn-primary{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        .btn{
            margin: 0.6rem 0;
        }
    }
    .ilus{
        width: 80vw;
    }
    p.desc{
        margin: 0.5rem 1.5rem;
        text-align: center;
    }
    .title-cyan{
        font-family: 'Caladea', sans-serif;
        font-size: 22px;
        color: #16A1DC;
        font-weight: bold;
        text-align: center;
        margin: 0.5rem 1.5rem;
    }
}

main{
    section{
        padding: 1.5rem;
        .mini-title{
            margin-bottom: 1rem;
            .line{             
                height: 2px;
                width: 45px;
                background: #16A1DC;
                margin: 0.5rem 0;
            }
            p{
                font-size: 12px;
                font-weight: 900;
                text-transform: uppercase;
            }
        }
        .content{
            .title{
                font-family: Caladea, sans-serif;
                color: #252B2D;
                text-align: center;
                font-weight: bold;
                font-size: 22px;
                margin-bottom: 1.2rem;
            }
            .content-membresia{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;

                .item{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    max-width: 300px;
                    margin-bottom: 2rem;
                    p.desc{
                        text-align: center;
                    }
                    img{
                        max-width: 200px;
                        margin-bottom: 1rem;
                    }
                }
                .item:last-child{
                    margin-bottom: 0;
                }
            }
        }

        .container-options-lectores{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            img{
                width: 300px;
                margin-bottom: 2rem;
            }
            .item{
                max-width: 300px;
                margin-bottom: 2rem;
            }
            .item:last-child{
                margin-bottom: 0;
            }
        }

        .container-options-experiencia{
            margin-top: 2rem;

            .item{
                margin-bottom: 2rem;
                .desc{
                    white-space: pre-line;
                }
            }
            .item:last-child{
                margin-bottom: 0;
            }
        }

        .content-redaccion{
            .container-img-desc{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
                img{
                    width: 300px;
                    margin-bottom: 2rem;
                }
                .container-desc{
                    max-width: 300px;
                    display: flex;
                    flex-direction: column;

                    .item{
                        margin-bottom: 2rem;
                    }
                }
            }
            .item{
                margin-bottom: 2rem;
            }
            .item:last-child{
                margin-bottom: 0;
            }
        }

        .content-acerca-de{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;

            img{
                width: 300px;
            }
            .container-texts{
                max-width: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img{
                    max-width: 200px;
                    margin: 1.5rem;
                }
                .acerca-de-tit{
                    font-family: 'Libre Baskerville', sans-serif;
                    font-size: 20px;
                    color: #16A1DC;
                    margin-bottom: 1rem;
                }
                p{
                    text-align: center;
                }
                p.desc.bold{
                    margin: 1rem;
                }
            }
        }

        .content-google-desc{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            img{
                width: 80%;
                max-width: 360px;
            }
            p.desc.medium{
                margin: 1rem;
                text-align: center;
            }
        }
    }

}

footer{
    margin: 1.5rem;
    .line{
        height: 2px;
        width: 45px;
        background: #849899;
        margin-bottom: 0.5rem;
    }
    p{
        color: #849899;
        font-weight: 900;
        font-size: 14px;
    }
}

@media(min-width: 768px){
    p.desc, span.desc{
        font-size: 24px;
        max-width: 1024px;
    }

    p.tit{
        font-size: 30px;
    }

    .description{
        font-size: 26px;
    }
    header{
        .img-logo{
            margin: 4.5rem 0 3.5rem;
        }
        h1{
            font-size: 39px;
        }
        .container-btn-primary{
            margin: 1rem 0;
            .btn{
                margin: 0.8rem;
            }
        }
        .description{
            font-size: 26px;
            max-width: 1024px;
        }
        .ilus{
            margin: 1.5rem 0;
            max-width: 1024px;
        }
        .background-cyan-light{
            max-width: 1440px;
            margin: 4rem 0 2rem;
            .title-cyan{
                font-size: 39px;
                margin-bottom: 1rem;
            }
        }
    }

    main{
        section{
            padding: 1.5rem 3.5rem;
            max-width: 1440px;
            margin: auto;
            .mini-title{
                p{
                    font-size: 16px;
                }
                .line{
                    width: 72px;
                    margin: 0.5rem 0 1rem;
                }
            }
            .content{
                max-width: 1024px;
                margin: auto;
                .title{
                    font-size: 39px;
                }
                .content-membresia{
                    align-items: flex-start;
                    max-width: 1024px;
                    .item{
                        width: 47%;
                        max-width: none;
                        margin: 1rem 1.5%;
                        img{
                            width: 261px;
                            height: 160px;
                            max-width: none;
                            object-fit: contain;
                        }
                    }
                }
            }
            .container-options-lectores{
                align-items: flex-start;
                max-width: 1024px;

                img{
                    width: 47%;
                    margin: 0 1.5% 2rem;
                }
                .item{
                    max-width: none;
                    margin-bottom: 2rem;
                    width: 47%;
                    margin: 0 1.5% 2rem;
                }
            }
            .container-options-experiencia{
                .item{
                    .desc{
                        white-space: pre-line;
                    }
                }
            }
            .content-redaccion{
                max-width: 1024px;
                .container-img-desc{
                    align-items: center;
                    width: 100%;
                    img{
                        width: 47%;
                        max-width: none;
                    }
                    .container-desc{
                        width: 47%;
                        max-width: none;
                        margin-left: 3%;
                        .item{
                            width: 100%;
                        }
                    }

                }
            }
            .content-acerca-de{
                max-width: 1024px;
                width: 100%;
                margin: auto;
                img{
                    width: 44%;
                }

                .container-texts{
                    max-width: none;
                    width: 54%;
                    margin-left: 2%;

                    img{
                        max-width: 312px;
                    }
                    .acerca-de-tit{
                        font-size: 36px;
                    }
                    p.desc.bold{
                        margin: 2rem 0 1rem;
                    }
                }
            }
            .content-google-desc{
                img{
                    max-width: 512px;
                }
                .btn.btn-secondary{
                    margin-top: 5rem;
                }
            }
        }
    }

    footer{
        margin: 1.5rem 3.5rem;
        p{
            font-size: 16px;
        }
        .line{
            width: 72px;
            margin: 0.5rem 0 1rem;
        }
    }
}