*, html, body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  color: #252B2D;
}

img {
  max-width: 100%;
}

.description {
  font-family: 'Libre Baskerville', sans-serif;
  margin: 0 1rem 1rem;
  text-align: center;
}

.btn {
  font-family: 'Red Hat Display', sans-serif;
  text-decoration: none;
  width: 225px;
  text-align: center;
  font-size: 19px;
  padding: 0.6rem 0;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-primary {
  color: #fff;
  background: #16A1DC;
}

.btn-secondary {
  background: #fff;
  color: #16A1DC;
  border: solid 2px #16A1DC;
}

p.desc, span.desc {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
}

p.desc.medium, span.desc.medium {
  font-weight: 500;
}

p.desc.bold, span.desc.bold {
  font-weight: 900;
}

p.tit {
  font-family: 'Caladea', sans-serif;
  font-weight: bold;
  color: #16A1DC;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

a {
  color: #252B2D;
  font-weight: 900;
}

.background-cyan-light {
  background: #EBF7FE;
  padding: 1rem 0;
}

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .img-logo {
  width: 60vw;
  max-width: 368px;
  margin: 1.5rem 0;
}

header h1 {
  font-family: Caladea, sans-serif;
  color: #252B2D;
  text-align: center;
  margin: 1.2rem;
  margin-top: 0;
}

header .description {
  margin: 0 1rem 1rem;
  text-align: center;
}

header .container-btn-primary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0.8rem;
}

header .container-btn-primary .btn {
  margin: 0.6rem 0.6rem;
}

header .container-btn-primary .btn-primary {
  margin-bottom: 0.3rem;
}

header .container-btn-primary p.aclaracion {
  font-size: 0.8rem;
}

header .ilus {
  width: 80vw;
}

header p.desc {
  margin: 0.5rem 1.5rem;
  text-align: center;
}

header .title-cyan {
  font-family: 'Caladea', sans-serif;
  font-size: 22px;
  color: #16A1DC;
  font-weight: bold;
  text-align: center;
  margin: 0.5rem 1.5rem;
}

main section {
  padding: 1.5rem;
}

main section .mini-title {
  margin-bottom: 1rem;
}

main section .mini-title .line {
  height: 2px;
  width: 45px;
  background: #16A1DC;
  margin: 0.5rem 0;
}

main section .mini-title p {
  font-size: 12px;
  font-weight: 900;
  text-transform: uppercase;
}

main section .content .title {
  font-family: Caladea, sans-serif;
  color: #252B2D;
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 1.2rem;
}

main section .content .content-membresia {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .content .content-membresia .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 300px;
  margin-bottom: 2rem;
}

main section .content .content-membresia .item p.desc {
  text-align: center;
}

main section .content .content-membresia .item img {
  max-width: 200px;
  margin-bottom: 1rem;
}

main section .content .content-membresia .item:last-child {
  margin-bottom: 0;
}

main section .container-options-lectores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .container-options-lectores img {
  width: 300px;
  margin-bottom: 2rem;
}

main section .container-options-lectores .item {
  max-width: none;
  margin-bottom: 2rem;
}

main section .container-options-lectores .item:last-child {
  margin-bottom: 0;
  width: 100%;
}

main section .container-options-experiencia {
  margin-top: 2rem;
}

main section .container-options-experiencia .item {
  margin-bottom: 2rem;
}

main section .container-options-experiencia .item .desc {
  white-space: pre-line;
}

main section .container-options-experiencia .item:last-child {
  margin-bottom: 0;
}

main section .content-redaccion .container-img-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .content-redaccion .container-img-desc img {
  width: 300px;
  margin-bottom: 2rem;
}

main section .content-redaccion .container-img-desc .container-desc {
  max-width: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main section .content-redaccion .container-img-desc .container-desc .item {
  margin-bottom: 2rem;
}

main section .content-redaccion .item {
  margin-bottom: 2rem;
}

main section .content-redaccion .item:last-child {
  margin-bottom: 0;
}

main section .content-acerca-de {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .content-acerca-de img {
  width: 300px;
}

main section .content-acerca-de .container-texts {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .content-acerca-de .container-texts img {
  max-width: 200px;
  margin: 1.5rem;
}

main section .content-acerca-de .container-texts .acerca-de-tit {
  font-family: 'Libre Baskerville', sans-serif;
  font-size: 20px;
  color: #16A1DC;
  margin-bottom: 1rem;
}

main section .content-acerca-de .container-texts p {
  text-align: center;
}

main section .content-acerca-de .container-texts p.desc.bold {
  margin: 1rem;
}

main section .content-google-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .content-google-desc img {
  width: 80%;
  max-width: 360px;
}

main section .content-google-desc p.desc.medium {
  margin: 1rem;
  text-align: center;
}

footer {
  margin: 1.5rem;
}

footer .line {
  height: 2px;
  width: 45px;
  background: #849899;
  margin-bottom: 0.5rem;
}

footer p {
  color: #849899;
  font-weight: 900;
  font-size: 14px;
}

@media (min-width: 768px) {
  p.desc, span.desc {
    font-size: 24px;
    max-width: 1024px;
  }
  p.tit {
    font-size: 30px;
  }
  .description {
    font-size: 26px;
  }
  header .img-logo {
    margin: 4.5rem 0 3.5rem;
  }
  header h1 {
    font-size: 39px;
  }
  header .container-btn-primary {
    margin: 1rem 0;
  }
  header .container-btn-primary .btn {
    margin: 0.8rem;
  }
  header .container-btn-primary .btn-primary {
    margin-bottom: 0.3rem;
  }
  header .container-btn-primary p.aclaracion {
    font-size: 1.2rem;
  }
  header .description {
    font-size: 26px;
    max-width: 1024px;
  }
  header .ilus {
    margin: 1.5rem 0;
    max-width: 1024px;
  }
  header .background-cyan-light {
    width: 95%;
    max-width: 1440px;
    margin: 4rem auto 2rem;
  }
  header .background-cyan-light .title-cyan {
    font-size: 39px;
    margin-bottom: 1rem;
  }
  header .background-cyan-light .desc {
    margin: 0.5rem auto;
    text-align: center;
  }
  main section {
    padding: 1.5rem 3.5rem;
    max-width: 1440px;
    margin: auto;
  }
  main section .mini-title p {
    font-size: 16px;
  }
  main section .mini-title .line {
    width: 72px;
    margin: 0.5rem 0 1rem;
  }
  main section .content {
    max-width: 1024px;
    margin: auto;
  }
  main section .content .title {
    font-size: 39px;
  }
  main section .content .content-membresia {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1024px;
  }
  main section .content .content-membresia .item {
    width: 47%;
    max-width: none;
    margin: 1rem 1.5%;
  }
  main section .content .content-membresia .item img {
    width: 261px;
    height: 160px;
    max-width: none;
    -o-object-fit: contain;
       object-fit: contain;
  }
  main section .container-options-lectores {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-width: 1024px;
  }
  main section .container-options-lectores img {
    width: 47%;
    margin: 0 1.5% 2rem;
  }
  main section .container-options-lectores .item {
    max-width: none;
    margin-bottom: 2rem;
    width: 47%;
    margin: 0 1.5% 2rem;
  }
  main section .container-options-experiencia .item .desc {
    white-space: pre-line;
  }
  main section .content-redaccion {
    max-width: 1024px;
  }
  main section .content-redaccion .container-img-desc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  main section .content-redaccion .container-img-desc img {
    width: 47%;
    max-width: none;
  }
  main section .content-redaccion .container-img-desc .container-desc {
    width: 47%;
    max-width: none;
    margin-left: 3%;
  }
  main section .content-redaccion .container-img-desc .container-desc .item {
    width: 100%;
  }
  main section .content-acerca-de {
    max-width: 1024px;
    width: 100%;
    margin: auto;
  }
  main section .content-acerca-de img {
    width: 44%;
  }
  main section .content-acerca-de .container-texts {
    max-width: none;
    width: 54%;
    margin-left: 2%;
  }
  main section .content-acerca-de .container-texts img {
    max-width: 312px;
  }
  main section .content-acerca-de .container-texts .acerca-de-tit {
    font-size: 36px;
  }
  main section .content-acerca-de .container-texts p.desc.bold {
    margin: 2rem 0 1rem;
  }
  main section .content-google-desc img {
    max-width: 512px;
  }
  main section .content-google-desc .btn.btn-secondary {
    margin-top: 5rem;
  }
  footer {
    margin: 1.5rem 3.5rem;
  }
  footer p {
    font-size: 16px;
  }
  footer .line {
    width: 72px;
    margin: 0.5rem 0 1rem;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  p.desc, span.desc {
    font-size: 18px;
    max-width: 1024px;
  }
  .content-redaccion .container-img-desc {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .content-redaccion .container-img-desc img {
    width: 49% !important;
    max-width: none;
  }
  .content-redaccion .container-img-desc .container-desc {
    width: 48%;
    max-width: none;
    margin-left: 3%;
  }
  .content-redaccion .container-img-desc .container-desc .item {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */